@import url('root.css');
@import url('layouts.css');
@import url('responsive-design.css');

main
{
    width: 100%;
    height: 100%;
}

header
{
    height: 80px;
    background-color: black;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}

#app
{

}

.NNI-widget
{
    height: 500px;
    margin: 1.5rem 0;
    padding: 2.5rem;
    width: 100%;
    overflow: auto;
    text-align: center;
}

canvas
{
    /* width: 50% !important; */
    margin: 1rem;
}
