@import url('root.css');
@import url('layouts.css');
@import url('responsive-design.css');

/* #app
{
    height: 100vh;
} */

main
{
    height: 650px;
    width: 100%;
}

header
{
    height: 80px;
    background-color: black;
}

footer
{
    height: 80px;
    background-color: black;
}

canvas
{
    /* background-color: blueviolet; */
    width: 100% !important;
}