@import url('root.css');
@import url('layouts.css');
@import url('responsive-design.css');

/* #app
{
    height: 100vh;
} */

main
{
    width: 100%;
}

header
{
    height: 80px;
    background-color: black;
}

footer
{
    height: 80px;
    background-color: black;
}

#app
{
    
}

.NNI-widget
{
    /* width: 50%; */
    width: 800px;
}

canvas
{
    /* background-color: blueviolet; */
    width: 100% !important;
    margin: 0 1rem;
}
